@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

main {
    text-align: center;
    margin-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
}

.menu {
    display: flex;
    font-size: 20px;
    justify-content: flex-start;
    align-items: center;
    background-color: rgb(142, 233, 142);
    margin-bottom: 20px;
    padding: 5px;
}

a {
    text-decoration: none;
    color: rgb(9, 9, 9);
    padding: 10px;
}

a:hover {
    background: rgb(13, 211, 66)
}

#texto {
    width: 50%;
    height: 50vh;
    text-align: justify;
    border: 1px solid;
    max-width: 70%;
    max-height: 70vh;
    min-height: 40vh;
    min-width: 30%;
}

textarea:focus {
    outline-color: rgb(19, 173, 229);
}